PORT=
MONGODB_URL=
JWT_SECRET=

## PostgreSQL Configuration
PG_HOST=localhost
PG_USER=your_pg_user 
PG_PASSWORD=your_pg_password
PG_DATABASE=crowdsense_db
PG_PORT=5432

## System Admin Credentials
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=